<div class="col-12">

    <div class="row text-center" *ngIf="cargando">
        <div class="col-12">
            <div class="alert alert-info">
                <h4 class="alert-heading">Cargando</h4>
                <mat-spinner style="margin:0 auto;"> </mat-spinner>
                <p class="mb-0">Por favor espere</p>
            </div>
        </div>
    </div>

    <div style="text-align: center;" *ngIf="!cargando">
        <h1>
            {{'HOME.TITLE' | translate}}
        </h1>
    </div>
    <div class="col-2" *ngIf="!cargando">
        <select class="custom-select" [(ngModel)]="selectedLanguages" (ngModelChange)="selectLanguage($event)">
            <option value="formulario-es">
                {{'HOME.SPANISH' | translate}}
            </option>

            <option value="formulario-en">
                {{'HOME.ENGLISH' | translate}}
            </option>
        </select>
    </div>



    <mat-vertical-stepper linear #stepper *ngIf="!cargando">

        <!--Step de Información Personal-->
        <mat-step [label]="step[0]" [stepControl]="participanteForm">
            <form [formGroup]="participanteForm">
                <div class="row row-formulario">
                    <div class="col">
                        <label for="inputEmail4">{{'HOME.NAMES' | translate}}</label>
                        <input type="text" class="form-control" placeholder="First name" formControlName="nombres">
                    </div>
                    <div class="col">
                        <label for="inputEmail4">{{'HOME.LASTNAMES' | translate}}</label>
                        <input type="text" class="form-control" placeholder="Last name" formControlName="apellidos">
                    </div>
                </div>

                <div class="row row-formulario">
                    <div class="col">
                        <label for="inputEmail4">{{'HOME.ADDRESS' | translate}}</label>
                        <input type="text" class="form-control" placeholder="Address" formControlName="direccion">
                    </div>
                    <div class="col">
                        <label for="inputEmail4">{{'HOME.PHONE' | translate}}</label>
                        <div class="input-group mb-2" *ngIf="selectedLanguages === 'formulario-es'">
                            <div class="input-group-prepend">
                                <div class="input-group-text">+</div>
                            </div>
                            <select class="custom-select mr-sm-2" formControlName="codTelefono">
                                <option value="">Choose...</option>
                                <option *ngFor="let pais of paises" [value]="pais._id">
                                    {{pais.phone_code}} - {{pais.nombre}}
                                </option>
                            </select>
                            <input type="text" class="form-control" placeholder="Phone" maxlength="20"
                                formControlName="telefono">
                        </div>
                        <div class="input-group mb-2" *ngIf="selectedLanguages !== 'formulario-es'">
                            <div class="input-group-prepend">
                                <div class="input-group-text">+</div>
                            </div>
                            <select class="custom-select mr-sm-2" formControlName="codTelefono">
                                <option value="">Choose...</option>
                                <option *ngFor="let pais of paises" [value]="pais._id">
                                    {{pais.phone_code}} - {{pais.name}}
                                </option>
                            </select>
                            <input type="text" class="form-control" placeholder="Phone" formControlName="telefono">
                        </div>
                    </div>
                </div>

                <div class="row row-formulario">
                    <div class="col">
                        <label for="inputEmail4">{{'HOME.EMAIL' | translate}}</label>
                        <input type="text" class="form-control" placeholder="example@email.com" formControlName="email">
                    </div>
                    <div class="col">
                        <label for="inputEmail4">{{'HOME.COUNTRY' | translate}}</label>
                        <div class="input-group mb-2" *ngIf="selectedLanguages === 'formulario-es'">
                            <select class="custom-select mr-sm-2" id="inlineFormCustomSelect" formControlName="pais">
                                <option value="">Choose...</option>
                                <option *ngFor="let pais of paises" [value]="pais._id">
                                    {{pais.nombre}}
                                </option>
                            </select>
                        </div>
                        <div class="input-group mb-2" *ngIf="selectedLanguages !== 'formulario-es'">
                            <select class="custom-select mr-sm-2" id="inlineFormCustomSelect" formControlName="pais">
                                <option value="">Choose...</option>
                                <option *ngFor="let pais of paises" [value]="pais._id">
                                    {{pais.name}}
                                </option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row row-formulario">
                    <div class="col">
                        <label for="inputEmail4">{{'HOME.IDTYPE' | translate}}</label>
                        <select class="custom-select mr-sm-2 tipoIdt" formControlName="tipoIdentificacion">
                            <option selected value="">Choose...</option>
                            <option value="1">{{'HOME.IDCARD' | translate}}</option>
                            <option value="2">{{'HOME.PASSPORT' | translate}}</option>
                        </select>
                    </div>
                    <div class="col">
                        <label for="inputEmail4">{{'HOME.IDENTIFICATION' | translate}}</label>
                        <input type="text" class="form-control" placeholder="Last name"
                            formControlName="identificacion">
                    </div>
                </div>

                <div class="row" *ngIf="selectedLanguages === 'formulario-es'">
                    <div class="col">
                        <label for="inputEmail4">Inscripciones</label>
                        <div class="card bg-light" style="width: 26rem;">
                            <ul class="list-group list-group-flush bg-light" *ngFor="let inscripcion of inscripciones">
                                <li class="list-group-item bg-light">{{inscripcion.producto.nombre}}</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="row" *ngIf="selectedLanguages !== 'formulario-es'">
                    <div class="col">
                        <label for="inputEmail4">Inscripciones</label>
                        <div class="card bg-light" style="width: 26rem;">
                            <ul class="list-group list-group-flush bg-light" *ngFor="let inscripcion of inscripciones">
                                <li class="list-group-item bg-light">{{inscripcion.producto.name}}</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="row justify-content-end">
                    <button type="button" class="btn btn-info" mat-button
                        matStepperNext>{{'HOME.NEXT' | translate}}</button>
                </div>
            </form>
        </mat-step>

        <!--Sales Check Data-->
        <mat-step [label]="step[1]" [stepControl]="participanteDatosFacturaForm1" *ngIf="valorCheckboxs">
            <form [formGroup]="participanteDatosFacturaForm1">
                <div class="form-group">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="gridCheck" checked
                            (change)="cambioCheckBox($event)">
                        <label class="form-check-label" for="gridCheck">
                            {{'FACTURA.CHECKMESDATA' | translate}}
                        </label>
                    </div>
                </div>

                <div class="row row-formulario">
                    <div class="col" *ngIf="participanteDatosFacturaForm1.get('apellidosDF').value !== 0">
                        <label for="inputEmail4">{{'HOME.LASTNAMES' | translate}}</label>
                        <input type="text" class="form-control" placeholder="First name" formControlName="apellidosDF">
                    </div>
                    <div class="col" *ngIf="participanteDatosFacturaForm1.get('apellidosDF').value === 0">
                        <label for="inputEmail4">{{'HOME.LASTNAMES' | translate}}</label>
                        <input type="text" class="form-control" placeholder="First name" formControlName="apellidosDF">
                    </div>
                    <div class="col">
                        <label for="inputEmail4">{{'HOME.NAMES' | translate}}</label>
                        <input type="text" class="form-control" placeholder="Last name" formControlName="nombresDF">
                    </div>
                </div>

                <div class="row row-formulario">
                    <div class="col">
                        <label for="inputEmail4">{{'HOME.ADDRESS' | translate}}</label>
                        <input type="text" class="form-control" placeholder="Address" formControlName="direccionDF">
                    </div>
                    <div class="col">
                        <label for="inputEmail4">{{'HOME.PHONE' | translate}}</label>
                        <div class="input-group mb-2" *ngIf="selectedLanguages === 'formulario-es'">
                            <div class="input-group-prepend">
                                <div class="input-group-text">+</div>
                            </div>
                            <select class="custom-select mr-sm-2" formControlName="codTelefonoDF">
                                <option value="">Choose...</option>
                                <option *ngFor="let pais of paises" [value]="pais._id">
                                    {{pais.phone_code}} - {{pais.nombre}}
                                </option>
                            </select>
                            <input type="text" class="form-control" placeholder="Phone" maxlength="20"
                                formControlName="telefonoDF">
                        </div>
                        <div class="input-group mb-2" *ngIf="selectedLanguages !== 'formulario-es'">
                            <div class="input-group-prepend">
                                <div class="input-group-text">+</div>
                            </div>
                            <select class="custom-select mr-sm-2" formControlName="codTelefonoDF">
                                <option value="">Choose...</option>
                                <option *ngFor="let pais of paises" [value]="pais._id">
                                    {{pais.phone_code}} - {{pais.name}}
                                </option>
                            </select>
                            <input type="text" class="form-control" placeholder="Phone" formControlName="telefonoDF">
                        </div>
                    </div>
                </div>

                <div class="row row-formulario">
                    <div class="col-6">
                        <label>{{'HOME.IDTYPE' | translate}}</label>
                        <select class="custom-select mr-sm-2 tipoIdt" formControlName="tipoIdentificacionDF">
                            <option selected value="">Choose...</option>
                            <option value="1">{{'HOME.IDCARD' | translate}}</option>
                            <option value="2">{{'HOME.PASSPORT' | translate}}</option>
                        </select>
                    </div>
                    <div class="col-6">
                        <label for="identificacion">{{'HOME.IDENTIFICATION' | translate}}</label>
                        <input type="text" class="form-control" placeholder="Identification"
                            formControlName="identificacionDF" maxlength="10" minlength="10" required>

                    </div>
                </div>

                <div class="row justify-content-end">
                    <button type="button" class="btn btn-info" mat-button
                        matStepperPrevious>{{'HOME.BACK' | translate}}</button>
                    <button type="button" class="btn btn-info" mat-button
                        matStepperNext>{{'HOME.NEXT' | translate}}</button>
                </div>
            </form>
        </mat-step>

        <mat-step [label]="step[1]" [stepControl]="participanteDatosFacturaForm2" *ngIf="!valorCheckboxs">
            <form [formGroup]="participanteDatosFacturaForm2">
                <div class="form-group">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="gridCheck"
                            (change)="cambioCheckBox($event)">
                        <label class="form-check-label" for="gridCheck">
                            {{'FACTURA.CHECKMESDATA' | translate}}
                        </label>
                    </div>
                </div>

                <div class="row row-formulario">
                    <div class="col">
                        <label for="inputEmail4">{{'HOME.NAMES' | translate}}</label>
                        <input type="text" class="form-control" placeholder="Name" formControlName="nombresDF">
                        <div class="col text-danger"
                            *ngIf="participanteDatosFacturaForm2.get('nombresDF').invalid && (participanteDatosFacturaForm2.get('nombresDF').dirty || participanteDatosFacturaForm2.get('nombresDF').touched)">
                            <p *ngIf="campoNoValido('nombresDF')">{{'HOME.NAMESMSG' | translate}}</p>
                        </div>
                    </div>
                </div>

                <div class="row row-formulario">
                    <div class="col">
                        <label for="inputEmail4">{{'HOME.ADDRESS' | translate}}</label>
                        <input type="text" class="form-control" placeholder="Address" formControlName="direccionDF">
                        <div class="col text-danger"
                            *ngIf="participanteDatosFacturaForm2.get('direccionDF').invalid && (participanteDatosFacturaForm2.get('direccionDF').dirty || participanteDatosFacturaForm2.get('direccionDF').touched)">
                            <p *ngIf="campoNoValido('direccionDF')">{{'HOME.ADDRESSMSG' | translate}}</p>
                        </div>
                    </div>
                    <div class="col">
                        <label for="inputEmail4">{{'HOME.PHONE' | translate}}</label>
                        <div class="input-group mb-2" *ngIf="selectedLanguages === 'formulario-es'">
                            <div class="input-group-prepend">
                                <div class="input-group-text">+</div>
                            </div>
                            <select class="custom-select mr-sm-2" formControlName="codTelefonoDF">
                                <option value="">Choose...</option>
                                <option *ngFor="let pais of paises" [value]="pais._id">
                                    {{pais.phone_code}} - {{pais.nombre}}
                                </option>
                            </select>
                            <input type="text" class="form-control" placeholder="Phone" maxlength="20"
                                formControlName="telefonoDF">
                        </div>
                        <div class="input-group mb-2" *ngIf="selectedLanguages !== 'formulario-es'">
                            <div class="input-group-prepend">
                                <div class="input-group-text">+</div>
                            </div>
                            <select class="custom-select mr-sm-2" formControlName="codTelefonoDF">
                                <option value="">Choose...</option>
                                <option *ngFor="let pais of paises" [value]="pais._id">
                                    {{pais.phone_code}} - {{pais.name}}
                                </option>
                            </select>
                            <input type="text" class="form-control" placeholder="Phone" formControlName="telefonoDF">
                        </div>

                        <div class="col text-danger"
                            *ngIf="participanteDatosFacturaForm2.get('codTelefonoDF').invalid && (participanteDatosFacturaForm2.get('codTelefonoDF').dirty || participanteDatosFacturaForm2.get('codTelefonoDF').touched)">
                            <p *ngIf="campoNoValido('codTelefonoDF')">{{'HOME.CODEPHONEMSG' | translate}}</p>
                        </div>
                        <div class="col text-danger"
                            *ngIf="participanteDatosFacturaForm2.get('telefonoDF').invalid && (participanteDatosFacturaForm2.get('telefonoDF').dirty || participanteDatosFacturaForm2.get('telefonoDF').touched)">
                            <p *ngIf="campoNoValido('telefonoDF')">{{'HOME.PHONEMSG' | translate}}</p>
                        </div>
                    </div>
                </div>

                <div class="row row-formulario">
                    <div class="col-6">
                        <label>{{'HOME.IDTYPE' | translate}}</label>
                        <select class="custom-select mr-sm-2 tipoIdt" formControlName="tipoIdentificacionDF"
                            (change)="cambioTipoIdentificacion(participanteDatosFacturaForm2.get('tipoIdentificacionDF').value)">
                            <option selected value="">Choose...</option>
                            <option value="1">{{'HOME.IDCARD' | translate}}</option>
                            <option value="2">RUC</option>
                        </select>
                        <div class="col text-danger"
                            *ngIf="participanteDatosFacturaForm2.get('tipoIdentificacionDF').invalid && (participanteDatosFacturaForm2.get('tipoIdentificacionDF').dirty || participanteDatosFacturaForm2.get('tipoIdentificacionDF').touched)">
                            <p *ngIf="campoNoValido('tipoIdentificacionDF')">
                                {{'HOME.IDTYPEMSG' | translate}}</p>
                        </div>
                    </div>
                    <div class="col-6"
                        *ngIf="participanteDatosFacturaForm2.controls.tipoIdentificacionDF.value === '1'">
                        <label for="identificacion">{{'HOME.IDENTIFICATION' | translate}}</label>
                        <input type="text" class="form-control" placeholder="Identification"
                            formControlName="identificacionDF" maxlength="10" minlength="10">
                        <div class="col text-danger"
                            *ngIf="participanteDatosFacturaForm2.value.tipoIdentificacionDF === '1' && participanteDatosFacturaForm2.get('identificacionDF').invalid && (participanteDatosFacturaForm2.get('identificacionDF').dirty || participanteDatosFacturaForm2.get('identificacionDF').touched)">
                            <p
                                *ngIf="participanteDatosFacturaForm2.controls.identificacionDF.errors.pattern || participanteDatosFacturaForm2.controls.identificacionDF.errors.required || participanteDatosFacturaForm2.controls.identificacionDF.errors.minlength">
                                {{'HOME.IDENTIFICATIONMSG' | translate}}</p>
                        </div>
                        <div class="col text-danger"
                            *ngIf="participanteDatosFacturaForm2.value.tipoIdentificacionDF === '1' && participanteDatosFacturaForm2.get('identificacionDF').invalid && (participanteDatosFacturaForm2.get('identificacionDF').dirty || participanteDatosFacturaForm2.get('identificacionDF').touched)">
                            <p *ngIf="participanteDatosFacturaForm2.controls.identificacionDF.errors.cedulaIdentidad">
                                {{'HOME.MSGERRORIDENTITY' | translate}}</p>
                        </div>
                    </div>
                    <div class="col-6"
                        *ngIf="participanteDatosFacturaForm2.controls.tipoIdentificacionDF.value === '2'">
                        <label>{{'HOME.IDENTIFICATION' | translate}}</label>
                        <input type="text" class="form-control" placeholder="Identification"
                            formControlName="identificacionDF" minlength="13" maxlength="13">
                        <div class="col text-danger"
                            *ngIf="participanteDatosFacturaForm2.value.tipoIdentificacionDF === '2' && participanteDatosFacturaForm2.get('identificacionDF').invalid && (participanteDatosFacturaForm2.get('identificacionDF').dirty || participanteDatosFacturaForm2.get('identificacionDF').touched)">
                            <p *ngIf="campoNoValido('identificacionDF')">{{'FACTURA.MSGRUC' | translate}}
                            </p>
                        </div>
                    </div>
                </div>

                <div class="row justify-content-end">
                    <button type="button" class="btn btn-info" mat-button
                        matStepperPrevious>{{'HOME.BACK' | translate}}</button>
                    <button type="button" class="btn btn-info" mat-button matStepperNext
                        [disabled]="participanteDatosFacturaForm2.invalid">{{'HOME.NEXT' | translate}}</button>
                </div>
            </form>
        </mat-step>

        <!--Payment Data-->
        <mat-step [label]="step[2]">
            <form [formGroup]="payForm" (submit)="datosPago()">

                <div class="row row-formulario">
                    <div class="col">
                        <label for="inputEmail4">{{'FACTURA.BANK' | translate}}</label>
                        <input type="text" class="form-control" placeholder="Bank" formControlName="nombreBanco">
                        <div class="col text-danger"
                            *ngIf="payForm.get('nombreBanco').invalid && (payForm.get('nombreBanco').dirty || payForm.get('nombreBanco').touched)">
                            <p *ngIf="campoNoValidoPay('nombreBanco')">{{'FACTURA.MSGBANKNAME' | translate}}</p>
                        </div>
                    </div>
                    <div class="col">
                        <label for="inputEmail4">{{'FACTURA.NUMBERTRANFERENCE' | translate}}</label>
                        <input type="number" class="form-control" placeholder="Bank transaction number"
                            formControlName="numeroTransaccion" min="0">
                        <div class="col text-danger"
                            *ngIf="payForm.get('numeroTransaccion').invalid && (payForm.get('numeroTransaccion').dirty || payForm.get('numeroTransaccion').touched)">
                            <p *ngIf="campoNoValidoPay('numeroTransaccion')">{{'FACTURA.MSGTRANSFNUMBER' | translate}}</p>
                        </div>
                    </div>
                </div>

                <div class="row row-formulario">
                    <div class="col">
                        <label for="inputEmail4">{{'FACTURA.TRANFERENCEDATE' | translate}}</label>
                        <input type="date" class="form-control" placeholder="Date" max={{limiteFecha}}
                            formControlName="fechaTransaccion">
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label for="exampleFormControlFile1">{{'FACTURA.TRANFERENCECOPY' | translate}}</label>
                            <input type="file" class="form-control-file" id="exampleFormControlFile1"
                                (change)="cambiarImagen($event.target.files[0])">
                            <div class="col text-danger" *ngIf="!imagenValida && mostrarErrorArchivo">
                                <p>{{'HOME.FILEMSGERR' | translate}}</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row justify-content-end">
                    <button type="button" class="btn btn-info" mat-button
                        matStepperPrevious>{{'HOME.BACK' | translate}}</button>
                    <button type="submit" class="btn btn-info" mat-button matStepperNext
                        [disabled]="payForm.invalid || (!imagenValida || !imagenSubir)">{{'HOME.SEND' | translate}}</button>
                </div>
            </form>
        </mat-step>

    </mat-vertical-stepper>


</div>