<div class="card text-center" *ngIf="completo === 0">
    <div class="card-header">
        <img class="card-img-top icono"
            src="https://www.flaticon.es/svg/static/icons/svg/594/594598.svg"
            alt="Card image cap">
            
    </div>
    <div class="card-body">
        <h1 class="card-title">{{'HOME.ENDREGISTERMSGTITLEERR' | translate}}</h1>
        <h2 class="card-text">{{'HOME.ENDREGISTERMSGTEXTERR' | translate}}</h2>
    </div>
</div>

<div class="card text-center" *ngIf="completo !== 0">
    <div class="card-header">
        <img class="card-img-top icono"
            src="https://www.flaticon.es/svg/static/icons/svg/941/941565.svg"
            alt="Card image cap">
            
    </div>
    <div class="card-body">
        <h1 class="card-title">{{'HOME.ENDREGISTERMSGTITLE' | translate}}</h1>
        <h2 class="card-text">{{'HOME.ENDREGISTERMSGTEXT' | translate}}</h2>
    </div>
</div>
