<div class="row text-center" *ngIf="cargando">
    <div class="col-12">
        <div class="alert alert-info">
            <h4 class="alert-heading">Cargando</h4>
            <mat-spinner style="margin:0 auto;"> </mat-spinner>
            <p class="mb-0">Por favor espere</p>
        </div>
    </div>
</div>

<div class="table-responsive" *ngIf="!cargando">
    <table class="table">
        <thead class="thead-light">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Identificación</th>
                <th scope="col">Participante</th>
                <th scope="col">Tipo de Inscripción</th>
                <th scope="col">Nombre Factura</th>
                <th scope="col">Fecha de Pago</th>
                <th scope="col">Validar</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>@twitter</td>
            </tr>
        </tbody>
    </table>
</div>
