<div class="row text-center" *ngIf="cargando">
    <div class="col-12">
        <div class="alert alert-info">
            <h4 class="alert-heading">Cargando</h4>
            <mat-spinner style="margin:0 auto;"> </mat-spinner>
            <p class="mb-0">Por favor espere</p>
        </div>
    </div>
</div>

<div class="row" *ngIf="!cargando">
    <div class="col-9 input-group mb-3">
        <div class="col-3 tipoBuscar">
            <select class="form-control btn-light" (change)=cambiarBusqueda($event)>
                <option value="identificacion">Identificación</option>
                <option value="apellidos">Apellidos</option>
                <option value="nombres">Nombres</option>
            </select>
        </div>
        <input type="text" class="form-control" placeholder="Buscar..." aria-label="Buscar"
            aria-describedby="button-addon2" (keyup)="buscar(txtTermino.value)" #txtTermino>
    </div>

    <a [href]="tipo | reportes">
        <button type="button" class="btn btn-info">
            <mat-icon>cloud_download</mat-icon> Descargar
            Reporte
        </button>
    </a>
</div>

<div class="table-responsive" *ngIf="!cargando">
    <table class="table">
        <thead class="thead-light">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Identificación</th>
                <th scope="col">Participante</th>
                <th scope="col">Email</th>
                <th scope="col">Teléfono</th>
                <th scope="col">Tipo Inscripcion</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let participante of participantes; let i=index">
                <th scope="row">{{i+1}}</th>
                <td>{{participante.participante.identificacion}}</td>
                <td>{{participante.participante.apellidos}} {{participante.participante.nombres}}</td>
                <td>{{participante.participante.email}}</td>
                <td>
                    +{{participante.participante.codTelefono}}
                    {{participante.participante.telefono}}
                </td>
                <td>{{participante.producto.nombre}}</td>
            </tr>
        </tbody>
    </table>

    <h3># Página {{desde}}</h3>
    <nav aria-label="Page navigation example" *ngIf="totalParticipantes > 1">
        <ul class="pagination">
            <li class="page-item"><a class="page-link" (click)="cambiarPagina('restar')">Previous</a></li>
            <li class="page-item" *ngFor="let item of element"><a class="page-link"
                    (click)="cambiarPagina(item)">{{item}}</a></li>
            <li class="page-item"><a class="page-link" (click)="cambiarPagina('sumar')">Next</a></li>
        </ul>
    </nav>
</div>