<div class="container">

    <div class="card text-center">
        <div class="card-header">
            <img class="card-img-top icono"
                src="https://www.flaticon.es/svg/static/icons/svg/2666/2666429.svg"
                alt="Card image cap">
        </div>
        <div class="card-body">
            <h2 class="card-title">Sistema de Gestión de las JISIC</h2>
            <p class="card-text" *ngIf="usuario.perfil === 'USER_ADMIN'">El usuario es {{usuario.nombres}} con el perfil Administrador/a</p>
            <p class="card-text" *ngIf="usuario.perfil === 'USER_SECRE'">El usuario es {{usuario.nombres}} con el perfil Secretario/a</p>
            <p class="card-text" *ngIf="usuario.perfil === 'USER_TESO'">El usuario es {{usuario.nombres}} con el perfil Tesorero/a</p>
        </div>
    </div>
</div>
