<div class="row text-center" *ngIf="cargando">
    <div class="col-12">
        <div class="alert alert-info">
            <h4 class="alert-heading">Cargando</h4>
            <mat-spinner style="margin:0 auto;"> </mat-spinner>
            <p class="mb-0">Por favor espere</p>
        </div>
    </div>
</div>

<div class="table-responsive" *ngIf="!cargando">
    <table class="table">
        <thead class="thead-light">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Identificación</th>
                <th scope="col">Participante</th>
                <th scope="col">Email</th>
                <th scope="col">Tipo de Inscripción</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let inscripcion of inscripciones; let i=index">
                <th scope="row">{{i+1}}</th>
                <td>{{inscripcion.participante.identificacion}}</td>
                <td>{{inscripcion.participante.apellidos}} {{inscripcion.participante.nombres}}</td>
                <td>{{inscripcion.participante.email}}</td>
                <td>{{inscripcion.producto.nombre}}</td>
                <td class="text-nowrap text-center">

                    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#actualizarModal">
                        <mat-icon>edit</mat-icon>
                    </button>

                    <button type="button" class="btn btn-danger">
                        <mat-icon>delete</mat-icon>
                    </button>

                </td>
            </tr>
        </tbody>
    </table>
    <h3># Página {{desde}}</h3>
    <nav aria-label="Page navigation example" *ngIf="totalInscripciones > 1">
        <ul class="pagination">
            <li class="page-item"><a class="page-link" (click)="cambiarPagina('restar')">Previous</a></li>
            <li class="page-item" *ngFor="let item of element"><a class="page-link"
                    (click)="cambiarPagina(item)">{{item}}</a></li>
            <li class="page-item"><a class="page-link" (click)="cambiarPagina('sumar')">Next</a></li>
        </ul>
    </nav>
</div>