<div class="row text-center" *ngIf="cargando">
    <div class="col-12">
        <div class="alert alert-info">
            <h4 class="alert-heading">Cargando</h4>
            <mat-spinner style="margin:0 auto;"> </mat-spinner>
            <p class="mb-0">Por favor espere</p>
        </div>
    </div>
</div>

<div class="row" *ngIf="!cargando">
    <div class="col-9 input-group mb-3">
        <div class="col-3 tipoBuscar">
            <select class="form-control btn-light" (change)=cambiarBusqueda($event)>
                <option value="identificacion">Identificación</option>
                <option value="apellidos">Apellidos</option>
                <option value="nombres">Nombres</option>
            </select>
        </div>
        <input type="text" class="form-control" placeholder="Buscar..." aria-label="Buscar"
            aria-describedby="button-addon2" (keyup)="buscar(txtTermino.value)" #txtTermino>
    </div>

    <a [href]="tipo | reportes">
        <button type="button" class="btn btn-info">
            <mat-icon>cloud_download</mat-icon> Descargar
            Reporte
        </button>
    </a>

</div>

<div class="table-responsive" *ngIf="!cargando">
    <table class="table">
        <thead class="thead-light">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Identificación</th>
                <th scope="col">Participante</th>
                <th scope="col">Email</th>
                <th scope="col">Tipo de Inscripción</th>
                <th scope="col">Validar</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let inscripcion of inscripciones; let i=index">
                <th scope="row">{{i+1}}</th>
                <td>{{inscripcion.participante.identificacion}}</td>
                <td>{{inscripcion.participante.apellidos}} {{inscripcion.participante.nombres}}</td>
                <td>{{inscripcion.participante.email}}</td>
                <td>{{inscripcion.producto.nombre}}</td>
                <td class="text-nowrap text-center">

                    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#actualizarModal"
                        (click)="obtenerParticipante(inscripcion)">
                        <mat-icon>edit</mat-icon>
                    </button>

                </td>
            </tr>
        </tbody>
    </table>
    <h3># Página {{desde}}</h3>
    <nav aria-label="Page navigation example" *ngIf="totalInscripciones > 1">
        <ul class="pagination">
            <li class="page-item"><a class="page-link" (click)="cambiarPagina('restar')">Previous</a></li>
            <li class="page-item" *ngFor="let item of element"><a class="page-link"
                    (click)="cambiarPagina(item)">{{item}}</a></li>
            <li class="page-item"><a class="page-link" (click)="cambiarPagina('sumar')">Next</a></li>
        </ul>
    </nav>
</div>

<!--Actualizar Modal -->
<div class="modal fade" data-backdrop="static" data-keyboard="false" id="actualizarModal" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLabel">Aprobar o Rechazar</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="limpiarDatos()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="preInscripcionForm" (submit)="actualizardatosParticipante()">
                    <div class="card-body bg-light">
                        <div class="form-group">
                            <label for="nombre">
                                <h3><strong>Tipo de Inscripción:</strong></h3>
                                {{preInscripcionForm.get('nombreProducto').value}}
                            </label>
                        </div>
                        <div class="form-group">
                            <label for="participante">
                                <h3><strong>Participante:</strong></h3> {{preInscripcionForm.get('apellidos').value}}
                                {{preInscripcionForm.get('nombres').value}}
                            </label>
                        </div>
                        <div class="form-group">
                            <label for="identificacionA">
                                <h3><strong>Identificación:</strong></h3>
                                {{preInscripcionForm.get('identificacion').value}}
                            </label>
                        </div>
                        <div class="form-group">
                            <label for="institucionA">
                                <h3><strong>Institución:</strong></h3> {{preInscripcionForm.get('institucion').value}}
                            </label>
                        </div>
                        <a [href]="preInscripcionForm.get('img').value | imagen: 'participante'">
                            <button type="button" class="btn btn-primary">
                                <mat-icon>cloud_download</mat-icon> Descargar
                                Imagen
                            </button>
                        </a>
                    </div>
                    <div class="form-group">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="gridCheck"
                                (change)="cambioCheck($event)">
                            <label class="form-check-label" for="gridCheck">
                                Enviar mensaje de rechazo?
                            </label>
                        </div>
                    </div>
                    <div class="form-group" *ngIf="isChecked">
                        <label for="exampleFormControlTextarea1">Motivo de rechazo</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                            formControlName="mensaje"></textarea>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal"
                            (click)="limpiarDatos()">Cerrar</button>
                        <button type="submit" class="btn btn-success" *ngIf="!isChecked"
                            [disabled]='preInscripcionForm.invalid' (click)="aprobarPreInscripcion()">Aprobar</button>
                        <button type="submit" class="btn btn-danger" *ngIf="isChecked"
                            [disabled]='preInscripcionForm.invalid' (click)="rechazarPreInscripcion()">Rechazar</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>