<div class="container">

    <div class="card text-center">
        <div class="card-header">
            <img class="card-img-top icono"
                src="https://jisic.epn.edu.ec/images/inscripcion/verificacionEmail.svg"
                alt="Card image cap">
        </div>
        <div class="card-body">
            <h2 class="card-title">Su correo electrónico ha sido confirmado</h2>
            <p class="card-text">Sus datos serán validados por nuestro personal, se le enviará un correo con los datos de pago</p>
            <a [routerLink]="['/inscripcion']" class="btn btn-primary">Inicio</a>
        </div>
    </div>
</div>
