<div class="container">

    <div class="card text-center">
        <div class="card-header">
            <img class="card-img-top icono"
                src="https://www.flaticon.es/svg/static/icons/svg/716/716225.svg"
                alt="Card image cap">
        </div>
        <div class="card-body">
            <h2 class="card-title">Thank you for confirming the payment.</h2>
            <p class="card-text">An information email will be sent to you once we validate the payment information.</p>
            <p class="card-text">Registration will not be valid until payment is confirmed.</p>
            <a [routerLink]="['/inscripcion']" class="btn btn-primary">Back to home</a>
        </div>
    </div>
</div>