<div class="row text-center" *ngIf="cargando">
    <div class="col-12">
        <div class="alert alert-info">
            <h4 class="alert-heading">Cargando</h4>
            <mat-spinner style="margin:0 auto;"> </mat-spinner>
            <p class="mb-0">Por favor espere</p>
        </div>
    </div>
</div>

<div class="row" *ngIf="!cargando">
    <div class="col-10 input-group mb-3">
        <div class="col-3 tipoBuscar">
            <select class="form-control btn-light" (change)=cambiarBusqueda($event)>
                <option value="identificacion">Identificación</option>
                <option value="apellidos">Apellidos</option>
                <option value="nombres">Nombres</option>
            </select>
        </div>
        <input type="text" class="form-control" placeholder="Buscar..." aria-label="Buscar"
            aria-describedby="button-addon2" (keyup)="buscar(txtTermino.value)" #txtTermino>
    </div>
</div>

<div class="table-responsive" *ngIf="!cargando">
    <table class="table">
        <thead class="thead-light">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Identificación</th>
                <th scope="col">Participante</th>
                <th scope="col">Email</th>
                <th scope="col">Tipo de Inscripción</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let inscripcion of inscripciones; let i=index">
                <th scope="row">{{i+1}}</th>
                <td>{{inscripcion.participante.identificacion}}</td>
                <td>{{inscripcion.participante.apellidos}} {{inscripcion.participante.nombres}}</td>
                <td>{{inscripcion.participante.email}}</td>
                <td>{{inscripcion.producto.nombre}}</td>
            </tr>
        </tbody>
    </table>
</div>