<div class="container">

    <div class="card text-center">
        <div class="card-header">
            <img class="card-img-top icono"
                src="https://jisic.epn.edu.ec/images/inscripcion/mensajeEmail.svg"
                alt="Card image cap">
        </div>
        <div class="card-body">
            <h2 class="card-title">We have sent you an email</h2>
            <p class="card-text">Click the link in the email to complete account activation</p>
            <a [routerLink]="['/inscripcion']" class="btn btn-primary">Continue</a>
        </div>
    </div>
</div>