<div class="container">

    <div class="card text-center">
        <div class="card-header">
            <img class="card-img-top icono"
                src="https://www.flaticon.es/svg/static/icons/svg/893/893292.svg"
                alt="Card image cap">
        </div>
        <div class="card-body">
            <h2 class="card-title">Le hemos enviado un correo electrónico</h2>
            <p class="card-text">Haga clic en el vínculo del correo electrónico para completar la activación de la
                cuenta</p>
            <a [routerLink]="['/inscripcion']" class="btn btn-primary">Continuar</a>
        </div>
    </div>
</div>