<form [formGroup]="participanteForm">
    <button type="button" class="btn btn btn-outline-info btn-lg btn-block" (click)="verInfo()"
        *ngIf="idioma === 'formulario-es'">
        {{perfil}}
    </button>
    <button type="button" class="btn btn btn-outline-info btn-lg btn-block" (click)="verInfo()"
        *ngIf="idioma !== 'formulario-es'">
        {{perfilEn}}
    </button>
    <div class="card" *ngIf="ver">
        <div class="card-body">
            <div class="row justify-content-end">
                <h1>$ {{costo}}</h1>
            </div>

            <div
                *ngIf="perfil !== 'Profesionales y Profesores Externos' && perfil !== 'Estudiante EPN Postgrado' && perfil !== 'Estudiante EPN Pregrado'">
                <label for="inputEmail4">{{'HOME.COLLEGE' | translate}} *</label>
                <input type="text" class="form-control" placeholder="Institution" formControlName="institucion" required>
            </div>

            <div *ngIf="perfil === 'Profesionales y Profesores Externos'">
                <label for="inputEmail4">{{'HOME.COLLEGE' | translate}}</label>
                <input type="text" class="form-control" placeholder="Institution" formControlName="institucion">
            </div>

            <div *ngIf="perfil === 'Estudiante EPN Postgrado' || perfil === 'Estudiante EPN Pregrado'">
                <label for="inputEmail4">{{'HOME.COLLEGE' | translate}}</label>
                <input type="text" class="form-control" placeholder="Institution" disabled
                    value="Escuela Politécnica Nacional">
            </div>

            <div class="row row-formulario" *ngIf="perfil !== 'Profesionales y Profesores Externos'">
                <div class="form-group">
                    <label *ngIf="perfil === 'Estudiante EPN Pregrado' || perfil === 'Estudiante EPN Postgrado'"
                        for="exampleFormControlFile1">{{'HOME.FILEMSGEPN' | translate}}</label>
                    <label *ngIf="perfil === 'Estudiante Externo (otras universidades)'"
                        for="exampleFormControlFile1">{{'HOME.FILEMSGEXT' | translate}}</label>
                        <label *ngIf="perfil === 'Autores - Primer Artículo' || perfil === 'Autores - Por cada artículo adicional'"
                        for="exampleFormControlFile1">{{'HOME.FILEMSGAUT' | translate}}</label>
                    <img src="" alt="">
                    <input type="file" class="form-control-file" id="exampleFormControlFile1"
                        (change)="cambiarImagen($event.target.files[0])">
                    <div class="col text-danger" *ngIf="!imagenValida && mostrarErrorArchivo">
                        <p>{{'HOME.FILEMSGERR' | translate}}</p>
                    </div>
                </div>
            </div>
            <br>
            <div class="row justify-content-end">
                <button type="button" class="btn btn-info"
                    [disabled]="participanteForm.invalid || (!imagenValida || !imagenSubir) && perfil !== 'Profesionales y Profesores Externos'"
                    (click)="agregarCarrito(_id)">{{'HOME.ADD' | translate}}</button>
            </div>
        </div>

    </div>

</form>