<form [formGroup]="participanteForm">
    <button type="button" class="btn btn btn-outline-info btn-lg btn-block" (click)="verInfo()"
        *ngIf="idioma === 'formulario-es'">
        {{perfil}}
    </button>
    <button type="button" class="btn btn btn-outline-info btn-lg btn-block" (click)="verInfo()"
        *ngIf="idioma !== 'formulario-es'">
        {{perfilEn}}
    </button>
    <div class="card" *ngIf="ver">
        <div class="card-body">
            <div class="row justify-content-end">
                <h1>$ {{costo}}</h1>
            </div>

            <div class="row">
                <div class="col-6">
                    <label>{{'HOME.IDTYPE' | translate}}</label>
                    <select class="custom-select mr-sm-2" id="inlineFormCustomSelect"
                        formControlName="tipoIdentificacion">
                        <option selected value="">Choose...</option>
                        <option value="1">{{'HOME.IDCARD' | translate}}</option>
                        <option value="2">{{'HOME.PASSPORT' | translate}}</option>
                    </select>
                </div>
                <div class="col-6" *ngIf="participanteForm.controls.tipoIdentificacion.value === '1'">
                    <label>{{'HOME.IDENTIFICATION' | translate}}</label>
                    <input type="text" class="form-control" placeholder="Identification"
                        formControlName="identificacion" maxlength="10" minlength="10">
                </div>
                <div class="col-6" *ngIf="participanteForm.controls.tipoIdentificacion.value === '2'">
                    <label>{{'HOME.IDENTIFICATION' | translate}}</label>
                    <input type="text" class="form-control" placeholder="Identification" formControlName="pasaporte">
                </div>
            </div>
            <div class="col text-danger"
                *ngIf="participanteForm.get('tipoIdentificacion').invalid && (participanteForm.get('tipoIdentificacion').dirty || participanteForm.get('tipoIdentificacion').touched)">
                <p *ngIf="campoNoValido('tipoIdentificacion')">{{'HOME.IDTYPEMSG' | translate}}</p>
            </div>
            <div class="col text-danger"
                *ngIf="participanteForm.value.tipoIdentificacion === '1' && participanteForm.get('identificacion').invalid && (participanteForm.get('identificacion').dirty || participanteForm.get('identificacion').touched)">
                <p *ngIf="campoNoValido('identificacion')">{{'HOME.IDENTIFICATIONMSG' | translate}}</p>
            </div>
            <div class="col text-danger"
                *ngIf="participanteForm.value.tipoIdentificacion === '2' && participanteForm.get('pasaporte').invalid && (participanteForm.get('pasaporte').dirty || participanteForm.get('pasaporte').touched)">
                <p *ngIf="campoNoValido('pasaporte')">{{'HOME.PASAPORTEMSG' | translate}}</p>
            </div>

            <div class="row row-formulario" *ngIf="perfil !== 'Profesionales y Profesores Externos'">
                <div class="form-group">
                    <label for="exampleFormControlFile1">Suba el horario de clases de la EPN</label>
                    <img src="" alt="">
                    <input type="file" class="form-control-file" id="exampleFormControlFile1"
                        (change)="cambiarImagen($event.target.files[0])">
                    <div class="col text-danger" *ngIf="!imagenValida && mostrarErrorArchivo">
                        <p>Debe seleccionar un archivo o el archivo seleccionado no tiene formato .jpg o .png</p>
                    </div>
                </div>
            </div>
            <br>
            <div class="row justify-content-end">
                <button type="button" class="btn btn-info" *ngIf="participanteForm.value.tipoIdentificacion === '1'"
                    [disabled]="(participanteForm.get('identificacion').invalid || (!imagenSubir || !imagenValida)) && perfil !== 'Profesionales y Profesores Externos'"
                    (click)="agregarCarrito(_id)">{{'HOME.ADD' | translate}}</button>
                    <button type="button" class="btn btn-info" *ngIf="participanteForm.value.tipoIdentificacion === '2'"
                    [disabled]="(participanteForm.get('pasaporte').invalid || (!imagenSubir || !imagenValida)) && perfil !== 'Profesionales y Profesores Externos'"
                    (click)="agregarCarrito(_id)">{{'HOME.ADD' | translate}}</button>
            </div>
        </div>

    </div>

</form>