<form>
    <div class="row">
        <h1>$ 20</h1>
    </div>

    <div class="row">
        <div class="col">
            <input type="text" class="form-control" placeholder="First name">
        </div>
        <div class="col">
            <input type="text" class="form-control" placeholder="Last name">
        </div>
    </div>

    <div class="row row-formulario">
        <div class="form-group">
            <label for="exampleFormControlFile1">Suba el horario de clases de la EPN</label>
            <input type="file" class="form-control-file" id="exampleFormControlFile1">
        </div>
    </div>


</form>