<div class="col-12">
    <div style="text-align: center;">
        <h1>
            {{'HOME.TITLE' | translate}}
        </h1>
    </div>
    <div class="col-2">
        <select class="custom-select" [(ngModel)]="selectedLanguages" (ngModelChange)="selectLanguage($event)">
            <option value="formulario-es">
                {{'HOME.SPANISH' | translate}}
            </option>

            <option value="formulario-en">
                {{'HOME.ENGLISH' | translate}}
            </option>
        </select>
    </div>

    <form [formGroup]="participanteForm" (submit)="datosParticipante()">
        <mat-vertical-stepper linear #stepper>

            <!--Step de Información Personal-->
            <mat-step [label]="step[0]" [stepControl]="participanteForm">

                <div class="row row-formulario">
                    <div class="col">
                        <label for="inputEmail4">{{'HOME.NAMES' | translate}}</label>
                        <input type="text" class="form-control" placeholder="First name" formControlName="nombres">
                        <div class="col text-danger">
                            <p *ngIf="campoNoValido('nombres')">{{'HOME.NAMESMSG' | translate}}</p>

                        </div>
                    </div>
                    <div class="col">
                        <label for="inputEmail4">{{'HOME.LASTNAMES' | translate}}</label>
                        <input type="text" class="form-control" placeholder="Last name" formControlName="apellidos">
                        <div class="col text-danger">
                            <p *ngIf="campoNoValido('apellidos')">{{'HOME.LASTNAMESMSG' | translate}}</p>
                        </div>
                    </div>
                </div>
                <div class="row row-formulario">
                    <div class="col">
                        <label for="inputEmail4">{{'HOME.ADDRESS' | translate}}</label>
                        <input type="text" class="form-control" placeholder="Address" formControlName="direccion">
                        <div class="col text-danger">
                            <p *ngIf="campoNoValido('direccion')">{{'HOME.ADDRESSMSG' | translate}}</p>
                        </div>
                    </div>
                    <div class="col">
                        <label for="inputEmail4">{{'HOME.PHONE' | translate}}</label>
                        <div class="input-group mb-2" *ngIf="selectedLanguages === 'formulario-es'">
                            <div class="input-group-prepend">
                                <div class="input-group-text">+</div>
                            </div>
                            <select class="custom-select mr-sm-2" id="inlineFormCustomSelect"
                                formControlName="codTelefono">
                                <option value="">Choose...</option>
                                <option *ngFor="let pais of paises" [value]="pais._id">
                                    {{pais.phone_code}} - {{pais.nombre}}
                                </option>
                            </select>

                            <input type="text" class="form-control" placeholder="Phone" formControlName="telefono"
                                maxlength="20">

                        </div>


                        <div class="input-group mb-2" *ngIf="selectedLanguages !== 'formulario-es'">
                            <div class="input-group-prepend">
                                <div class="input-group-text">+</div>
                            </div>
                            <select class="custom-select mr-sm-2" id="inlineFormCustomSelect"
                                formControlName="codTelefono">
                                <option value="">Choose...</option>
                                <option *ngFor="let pais of paises" [value]="pais._id">
                                    {{pais.phone_code}} - {{pais.name}}
                                </option>
                            </select>
                            <input type="text" class="form-control" placeholder="Phone" formControlName="telefono">
                        </div>
                        <div class="col text-danger">
                            <p *ngIf="campoNoValido('codTelefono')">{{'HOME.CODEPHONEMSG' | translate}}</p>
                        </div>
                        <div class="col text-danger">
                            <p *ngIf="campoNoValido('telefono')">{{'HOME.PHONEMSG' | translate}}</p>
                        </div>

                    </div>
                </div>
                <div class="row row-formulario">
                    <div class="col">
                        <label for="inputEmail4">{{'HOME.EMAIL' | translate}}</label>
                        <input type="text" class="form-control" placeholder="Email" formControlName="email">
                        <div class="col text-danger">
                            <p *ngIf="campoNoValido('email')">{{'HOME.EMAILMSG' | translate}}</p>
                        </div>
                    </div>
                    <div class="col">
                        <label for="inputEmail4">{{'HOME.COUNTRY' | translate}}</label>
                        <div class="input-group mb-2" *ngIf="selectedLanguages === 'formulario-es'">

                            <select class="custom-select mr-sm-2" id="inlineFormCustomSelect" formControlName="pais">
                                <option value="">Choose...</option>
                                <option *ngFor="let pais of paises" [value]="pais._id">
                                    {{pais.nombre}}
                                </option>
                            </select>

                        </div>

                        <div class="input-group mb-2" *ngIf="selectedLanguages !== 'formulario-es'">

                            <select class="custom-select mr-sm-2" id="inlineFormCustomSelect" formControlName="pais">
                                <option value="">Choose...</option>
                                <option *ngFor="let pais of paises" [value]="pais._id">
                                    {{pais.name}}
                                </option>
                            </select>

                        </div>
                        <div class="col text-danger">
                            <p *ngIf="campoNoValido('pais')">{{'HOME.COUNTRYMSG' | translate}}</p>
                        </div>
                    </div>
                </div>

                <div class="row justify-content-end">
                    <button type="button" class="btn btn-info" mat-button matStepperNext
                        [disabled]="participanteForm.invalid">{{'HOME.NEXT' | translate}}</button>
                </div>



            </mat-step>

            <!--Step de Inscripción-->
            <mat-step [label]="step[1]" [stepControl]="false">

                <div class="row">

                    <div class="col-8">

                        <div *ngFor="let producto of productos">
                            <app-datos-inscripcion [_id]="producto._id" [perfil]="producto.nombre"
                                [perfilEn]="producto.name" [costo]="producto.costo" [idioma]="selectedLanguages"
                                (enviarArreglo)="obtenerDatosCompra($event)"></app-datos-inscripcion>
                        </div>

                    </div>

                    <div class="col-4">
                        <h1>{{'HOME.CART' | translate}}</h1>
                        <div *ngIf="arregloItemProducto.length > 0; else elseBlock">
                            <div class="info alert alert-info" *ngFor="let item of arregloItemProducto" role="alert"
                                style="width: 100%;">
                                <p *ngIf="selectedLanguages === 'formulario-es'">
                                    {{item.nombre}}
                                </p>
                                <p *ngIf="selectedLanguages === 'formulario-en'">
                                    {{item.name}}
                                </p>
                                <p>$ {{item.costo}}</p>
                                <div class="row justify-content-end">
                                    <div class="col-auto">
                                        <button class="btn btn-primary" type="button"
                                            (click)="eliminarProducto(item.idProducto)">{{'HOME.DELETE' | translate}}</button>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <h1>{{'HOME.TOTALCOST' | translate}}{{costoTotal}}</h1>
                                <h1></h1>
                            </div>

                            <div class="row justify-content-end">
                                <button type="button" class="btn btn-info" mat-button
                                    matStepperPrevious>{{'HOME.BACK' | translate}}</button>
                                <button type="button" class="btn btn-info" mat-button
                                    matStepperNext>{{'HOME.NEXT' | translate}}</button>
                            </div>
                        </div>
                    </div>


                </div>

                <ng-template #elseBlock>
                    <div class="info alert alert-warning" role="alert">
                        No tiene productos en la cesta
                    </div>
                </ng-template>

            </mat-step>

            <!--Step de Done-->
            <mat-step [label]="step[2]">
                <app-mensaje-fin-formulario
                [completo]="arregloItemProducto.length"
                ></app-mensaje-fin-formulario>
                <div class="row justify-content-end">
                    <button type="button" class="btn btn-info" mat-button
                        matStepperPrevious>{{'HOME.BACK' | translate}}</button>
                    <button type="submit" class="btn btn-info" mat-button
                        *ngIf="arregloItemProducto.length > 0" >{{'HOME.SEND' | translate}}</button>
                </div>
            </mat-step>

        </mat-vertical-stepper>

    </form>
</div>