<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" routerLink="/admin/dashboard">JISIC2021</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
        aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo02" >
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0" *ngFor="let item of menuService.menu">
            <li class="nav-item" *ngFor="let menu of item.menu">
                <a class="nav-link" routerLinkActive="active" [routerLink]="menu.url">{{menu.titulo}}
                </a>
            </li>
        </ul>
        <div class="nav justify-content-end">
            <div class="dropdown">
                <a class="btn btn-light dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img src="https://www.flaticon.es/svg/static/icons/svg/727/727399.svg" alt="..."
                        class="rounded-circle iconoPerfil">
                </a>

                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <span class="dropdown-item-text">{{usuario.nombres}}</span>
                    <span class="dropdown-item-text" *ngIf="usuario.perfil === 'USER_ADMIN'">Administrador/a</span>
                    <span class="dropdown-item-text" *ngIf="usuario.perfil === 'USER_SECRE'">Secretario/a</span>
                    <span class="dropdown-item-text" *ngIf="usuario.perfil === 'USER_TESO'">Tesorero/a</span>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item cursor" (click)="logout()">Cerrar sesión</a>
                </div>
            </div>

        </div>
    </div>
</nav>
<div class="container">
    <h1>{{titulo}}</h1>
    <router-outlet></router-outlet>
</div>